.quarto/
_site
.Rproj.user/
/.quarto/

.DS_Store
site_libs
changlog/**/*.html
decisions/**/*.html
roadmap.html

__pycache__/

_freeze/roadmap/execute-results/

_freeze/decisions/execute-results/

_freeze/changelog/execute-results/

*.quarto_ipynb
