/** RESET **/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/** / RESET **/

/** VARIABLES **/
:root {
  --bg: #0e0e10;
  --bg2: #222226;
  --fg: #fdfdfd;
  --fg2: #9f9fa8;
  --column-size: 320px;
  --column-gap: 1rem;
  --accent: #885eed;
  --rounded: 0.6em;
  --max-width: 1152px;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
/** / VARIABLES **/

body {
  background-color: var(--bg);
  color: var(--fg);
}

.module {
  max-width: var(--max-width);
  margin: 12em auto 2em auto;
}

.module h3 {
  font-size: 2em;
}

figure h4 {
  font-size: 1.5em;
}

figure {
  display: flex;
  gap: var(--column-gap);
}

figure img {
  min-width: 33%;
  min-height: 5em;
  background: var(--bg);
  border: 0;
}

figure p {
  color: var(--fg2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-size), 1fr));
  grid-gap: var(--column-gap);
}

.grid > figure {
  flex-direction: column;
  border-radius: var(--rounded);
  padding: var(--column-gap);
}

.grid.big > figure {
  background-color: var(--bg2);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--column-gap);
}

.list > figure {
  flex-direction: row-reverse;
}

#hero {
  font-size: 1.1em;
}

#hero figure {
  flex-direction: row-reverse;
}

#hero h1 {
  color: var(--accent);
  font-size: 1em;
}

#hero h2 {
  font-size: 2.3em;
}

footer {
  border-top: 2px solid var(--bg2);
  padding-top: 3em;
  display: flex;
  gap: var(--column-gap);
}

footer p {
  display: flex;
  flex-direction: column;
  color: var(--fg2);
  font-size: 0.9em;
}
