name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install uv
        run: pip install uv scipy pandas plotly itables

      - name: Render Quarto site
        run: |
          pip install quarto-cli --extra-index-url https://pypi.quarto.org
          quarto render
