name: Publish Quarto
on:
  push:
    branches:
      - main
jobs:
  quarto-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: Set up Jupyter
        run: |
          pip install jupyter pandas itables starvote readtime
      - name: Install MiniZinc
        run: |
          # Install MiniZinc from official website to get chuffed solver
          MINIZINC_VERSION="2.9.4"
          wget -q https://github.com/MiniZinc/MiniZincIDE/releases/download/${MINIZINC_VERSION}/MiniZinc-${MINIZINC_VERSION}-x86_64-linux.tar.gz
          tar -xzf MiniZinc-*.tar.gz
          MINIZINC_DIR=$(ls -d MiniZinc-* | head -1)
          mv ${MINIZINC_DIR} ./minizinc
          echo "${{ github.workspace }}/minizinc/bin" >> $GITHUB_PATH
          ./minizinc/bin/minizinc --version
          ./minizinc/bin/minizinc --solvers
      - name: Generate MiniZinc data for roadmap
        working-directory: ./roadmap
        run: |
          python3 generate_minizinc_data.py
      - name: Solve MiniZinc roadmap model with chuffed
        working-directory: ./roadmap
        run: |
          ../minizinc/bin/minizinc --solver chuffed roadmap.mzn roadmap_data.dzn > roadmap_output.txt
          cat roadmap_output.txt
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      - name: Remove github issues
        run: |
          rm -rf thirdparty
      - run: |
          quarto render
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: _site
          TARGET_FOLDER: docs
